#wpadminbar .csp4-mode-active > .ab-item{
	color:#ff0000;
	background-color: #868585;
	font-size: 15px !important;
}

#wpadminbar .csp4-mode-active:hover > .ab-item{
	background-color: #f1f1f1 !important;
	color:#fff !important;;
}
